/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#main{
  width: 1000px;
  margin: auto;
}

div{
  padding: 0;
}

.title{
  height: 100px;
}

.quiz{
  display: flex;
}

#photograph{
  position: relative;
  width: 350px;
  height: 350px;
}

#boxes{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 360px;
  column-gap: 0;
}

.box {
  /*display: none;*/
  background-color: #FFFFFF;
  height: 119px;
  width: 119px;
  border: solid 3px black;
}

#box_0{
  position: absolute;
  top: 0px;
  left: 0px;
}

#box_1{
  position: absolute;
  top: 0px;
  left: 119px;
}

#box_2{
  position: absolute;
  top: 0px;
  left: 238px;
}

#box_3{
  position: absolute;
  top: 119px;
  left: 0px;
}

#box_4{
  position: absolute;
  top: 119px;
  left: 119px;
}

#box_5{
  position: absolute;
  top: 119px;
  left: 238px;
}

#box_6{
  position: absolute;
  top: 238px;
  left: 0px;
}

#box_7{
  position: absolute;
  top: 238px;
  left: 119px;
}

#box_8{
  position: absolute;
  top: 238px;
  left: 238px;
}

.box-ext {
  background-color: pink;
}

.box-select{
  background-color: pink;
}

// .z-index-0{
//   z-index: 0;
// }

// .z-index-10{
//   z-index: 10;
// }

#answer{
  position: relative;
  width: 250px;
  height: 500px;
  margin-left: 30px;
}

#answer_box{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  width: 250px;
  height: 400px;
}

#answer_box:hover{
  background-color: #EEEEEE;
}

.quiz_sentence{
  margin-top: 30px;
}

#questions{
  position: relative;
  height: 150px;
  margin-top: 30px;
}

.question_box{
  // position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100px;
}

.question_hide{
  display: none;
}

.choices{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.choices > div{
  width: 100px;
  height: 30px;
  padding: auto ;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #EEEEEE;
}

.choices > div:hover {
  background-color: #CCCCCC;
}